@import "icons.scss";
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

a,
a,
div,
h1,
h2,
h3,
h4,
p,
input,
li,
fb,
span {
	margin: 0;
}

fb{
	display: flex;
}

html{
  height: 100%;
	font-family: "Roboto", sans-serif;
	color: #3e3e3e;
}

body{
  height: 100%;
  margin: 0px;
  background-color: #E9EBEE;
}

ul{
	margin: 0px;
	padding: 0px;
}

fb{
  display: flex;
	box-sizing: border-box;
}

input, textarea{
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	font-size: 16px;
	color: #484848;

	&:focus{
		border-color: #2ea8ff;
		outline: none;
	}

	&::placeholder{
		color: #bfbfbf;
	}
}

a{
  text-decoration: none !important;
}

#root{
	height: 100%;

	.Container_Main{
		height: 100%;
	}
}


.soBtn{
	border: 1px solid #07c;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	color: #FFF;
	background-color: #0095ff;
	border-color: #07c;
	box-shadow: inset 0 1px 0 #66bfff;
	padding: 0px 12px;
	cursor: pointer;
}
