.userProfileHeadlineMain{
  align-self: stretch;
  height: 50px;
  padding-left: 8px;
  color: #0094da;
  font-size: 28px;
  font-weight: 300;
  border-bottom: 1px solid #52c5ff;
  margin: 10px 10px 0px 10px;

  align-items: center;
}
