.navBarOptionsMain{
  flex-direction: column;

  .logoutBtn{
    background: lightgrey;
    color: #505050;
    height: 44px;
    align-items: center;
    padding-left: 18px;
    font-size: 18px;
  }
}
