.inputWindowMain{
  border: 1px solid #00a3ef;
  background: white;
  padding: 0px 25px;
  cursor: pointer;

  .seperator{
    margin: 0px 3px;
    align-items: center;
    justify-content: center;
  }

  .inpWrapper{
    .timeInput{
      border: none;
      color: #2E2E2E !important;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      cursor: pointer;


      &.start{
        margin-left: auto;
      }

      &.end{

      }

      &:focus {
        outline: none;
      }

      &::placeholder{
        color: #cccccc;
        //font-weight: 400;
      }
    }
  }
}
