.emailStatusMain{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  padding: 4px;
  align-self: stretch;


  .statusBar{
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    //background-color: grey;
    //min-width: 100px;
    bottom: 4px;
    color: white;
    border-radius: 1px;

    .icon{
      padding: 0px;
      padding-right: 6px;
    }

    &.NOT_INVITED{
      color: #ff3325;
      //background-color: #ff3325;
    }

    &.INVITED{
      color: orange;
      //background-color: orange;
    }

    &.ACTIVE{
      color: #2fcb71;
      // background-color: #2fcb71;
    }
  }

  .sendInvitationBtn{
    margin-left: 4px;

    .icon{
      margin-right: 8px;
    }

    .text{
      font-size: 14px;
    }
  }
}
