.shiftBoardMain {
  flex: 1 0 auto;
  flex-direction: column;
  overflow-x: visible;
  background-color: white;
  min-height: 100px;
  font-weight: 300;
  position: relative;
  border: 1px solid;
  border-color: #D0D1D5 #dfe0e4 #d0d1d5;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-bottom: 30px;
  box-sizing: content-box; }
  .shiftBoardMain .content {
    flex-direction: column; }
