.userItemWrapper {
  height: 42px;
  display: flex;
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(211, 211, 211, 0.68);
  padding: 2px 2px 2px 10px; }
  .userItemWrapper .dragHandle {
    align-items: center;
    padding-bottom: 2px;
    color: lightgrey;
    margin-right: 4px;
    cursor: move; }

.adminpanelUsers {
  width: 100%;
  flex-direction: column;
  display: flex; }
  .adminpanelUsers ul {
    margin: 0px;
    padding: 0px; }
  .adminpanelUsers .headline {
    font-size: 16px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.68);
    padding: 12px;
    padding-left: 28px;
    justify-content: space-between; }
    .adminpanelUsers .headline .headlineText {
      color: #009be4;
      justify-content: center;
      align-items: center;
      font-size: 24px; }
    .adminpanelUsers .headline .newUserButton {
      margin-bottom: 4px;
      margin-left: -4px; }
