
.adminpanelUsers{
		width:100%;
		flex-direction: column;
		display: flex;

	.headline{

		font-size: 16px;
		padding: 12px;
		padding-left: 28px;
		justify-content: space-between;

		.headlineText{
			color: #009be4;
	    justify-content: center;
	    align-items: center;
	    font-size: 24px;
		}

		.newUserButton{
			margin-bottom: 4px;
			margin-left: -4px;
		}
	}

	.headRow{
		padding: 2px 10px 2px 30px;
		border-bottom: 1px solid #e1e1e1;

		.item{
			color: #009ae4;
    	font-weight: 300;
			flex: 1 1 auto;
			padding: 0px 6px;
		}

		.name {
			flex: 1 1 200px;
		}

		.position{
			flex: 1 1 80px;
		}

		.branches{
			flex: 1 1 240px;
			margin-right: 40px;
		}
		.status{
			max-width: 100px;
		}
	}
}
