.dateAndTimeDisplayMain_mob{
  padding: 10px 0px;
  background: #efefef;
  color: #10a3ff;
  justify-content: center;
  border-bottom: 1px solid #e2e2e2;
  font-size: 18px;
  font-weight: 200;
  font-weight: 300;
  padding-top: 14px;

  >*{
    padding: 0px 4px;
  }
}
