.dateAndTimeDisplayMain_mob{
  padding: 8px 0px;
      background: #efefef;
      color: #ababab;
      justify-content: center;
      border-bottom: 1px solid #e2e2e2;
      font-size: 18px;
      font-weight: 200;

  >*{
    padding: 0px 4px;
  }
}
