.positionsBubbleMain{
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.5);


  width: 100%;
  //border: 1px solid #00a3ef;
  border-radius: 4px;
  background: white;
  margin-top: 5px;
  //padding-top: 4px;
  flex-direction: column;

  .posOption{
    border-bottom: 1px solid #d6e4ea;
    justify-content: flex-start;
    align-items: center;
    height: 26px;
    font-size: 14px;
    color: #636e73;
    text-transform: uppercase;
    font-weight: 400;

    &:hover{
      .posName{
        margin-left: 0px;
      }
    }

    .checkbox{
      icon{
        padding: 4px;
        color: inherit;
      }
    }

    .posName{
      margin-left: 2px;
      font-size: 12px;
      font-weight: 400;
    }

    &:last-of-type{
      border: none;
    }
  }
}
