.shiftEditBarMain{
  background: #00a3ef;
  align-items: center;
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  border-radius: 1px;

  font-size: 12px;
  height: 20px;
  flex: 0 0 auto;
  margin-top: 1px;
  justify-content: space-between;

  margin-left: -1px;
  margin-right: -1px;

  .boldStyle{
    font-weight: 500;
    color: white;
  }

  .time{

  }

  .seperator{
    margin: 0px 3px;
  }

  .breakMinutes{
    flex: 1;
    width: 18px;
    font-size: 12px;
    margin: 0px;
    align-self: center;
    margin-left: 4px;
  }

  .pencilIcon{
    justify-content: flex-end;
    margin-right: 4px;
    font-size: 13px;
    color: white;
  }
}
