.shiftWeekWrapper{
  width: 100%;

    .shiftWeekMain{
      margin: 0 auto;
      flex: 0 0 auto;
      padding: 4px 10px 0px 0px;
      width: 1200px;
      border-radius: 2px;
      flex-direction: column;

      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}
