.shiftWeekWrapper {
  width: 100%;
  justify-content: center; }
  .shiftWeekWrapper .shiftWeekMain {
    flex: 0 1 auto;
    margin: 10px 4px 4px 4px;
    overflow-x: auto;
    border-radius: 2px;
    flex-direction: column; }
  .shiftWeekWrapper ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
    height: 8px; }
  .shiftWeekWrapper ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
