.errorText{
  padding: 0px 17px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  border-left: 1px solid #e5e5e5;
  min-width: 100px;
  color: #ff3325;
  background-color: #ffe8e8;
  height: 37px;
  border-bottom: 1px solid #ff8f88;

  .icon{
    padding: 0px;
    padding-right: 8px;
    color: #ff3325;
    padding-bottom: 1px;
  }
}
