.weeklyHoursInputMain{
  flex: 1;
  align-self: stretch;
  //width: 100%;

  .inputWrapper{
    flex-direction: column;

    .weeklyHoursRow{
      height: 38px;
      align-self: stretch;
      border-bottom: 1px solid #e5e5e5;

      .dateInfo{
        align-items: center;
        padding-left: 12px;
        color: #a2a2a2;
        font-weight: 300;
        border-right: 1px solid #e5e5e5;

        &:not(.active){
          background-color: #f1f1f1;
        }

        .dateInfoText{
          width: 60px;
        }
      }
    }

    .datePickerWrapper{
      height: 100%;
      align-items: center;

      &:hover{
        background: #d7edff;
      }

      >*{
        height: 100%;
        display: flex;
        align-items: center;
      }

      .datePicker{
        height: 100%;
        border-top: none;
        border-bottom: none;
        border: none;
        padding: 0 8px;
        font-size: 16px;
        margin-left: 0px;
        max-width: 100px;
        text-align: center;
        background: none;
        color: #a2a2a2;
        font-weight: 300;

        &.active{
          cursor: pointer;
          color: #5a5a5a;
          font-weight: 400;

          &:hover{
            //background-color: #e5e5e5;
          }
        }
      }
    }
  }

  &:hover{
    .actionButtons{
      display: flex;
    }
  }

  .actionButtons{
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;

    .lightButton{
      cursor: pointer;
      justify-content: center;
      align-items: center;
      height: 27px;
      font-size: 14px;
      background-color: white;
      border: 1px solid #d2d2d2;
      color: #a7a7a7;
      border-radius: 2px;
      box-shadow: 0px 1px 2px -1px #b5b5b5;
      font-weight: 400;
      box-sizing: border-box;
    }

    .removeButton{
      padding: 0 8px;
      margin-right: 4px;
      font-size: 16px;
    }


    .extendButton{
      padding: 0px 10px;
      padding-left: 4px;


      .icon{
        color: #a7a7a7;
        padding: 0 2px 0 0;
      }
    }
  }
}
