.topbarMain {
  width: 100%;
  height: 46px;
  background-color: #00a3ef;
  padding: 0px;
  align-items: center;
  color: white; }
  .topbarMain .side {
    flex: 1;
    height: 100%;
    align-items: center; }
  .topbarMain .left {
    margin-left: 60px; }
  .topbarMain .right {
    justify-content: flex-end; }
    .topbarMain .right .logoutIcon {
      cursor: pointer;
      color: white; }
