.absenceCorrectionModalMain{
  padding: 20px;
  min-width: 500px;
  flex-direction: column;

  .daysDisplay{
    justify-content: center;
    flex: 1 1 auto;
  }

  .inpWrapper{
    width: 100%;

    input{
      width: 100%;
      text-align: center;
      padding: 4px;
    }
  }
}
