.actionBarMain{
  height: 40px;
  padding: 5px;
  padding-right: 2px;
  align-items: center;
  background-color: #e9ebee;
  margin-bottom: 4px;
  z-index: 1;
  flex: 0 0 auto;

  .headline{
    color: #ff5471;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .right{
    flex: 1;
    justify-content: flex-end;
    align-self: stretch;

    .createTemplateBtn{

      height: 100%;
      padding: 0 12px;
      background-color: #ff5577;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
