.actionBarMain{
  height: 40px;
  padding: 5px;
  padding-right: 2px;
  align-items: center;
  background-color: #e9ebee;
  margin-bottom: 4px;
  z-index: 1;

  .right{
    flex: 1;
    justify-content: flex-end;
    align-self: stretch;

    .createTemplateBtn{

      height: 100%;
      padding: 0 8px;
      background-color: grey;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
