.usersHeadMain{
  flex: 1 1 auto;
  padding-left: 12px;
  text-transform: uppercase;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;

  .text{
    margin-top: 2px;
  }

  .eye{
    margin-right: 2px;
    color: lightgrey;
    font-size: 16px;
    padding: 2px 4px;

    &.active{
      background: #ff4c3a;
      border-radius: 2px;
      color: white;
    }

    &:hover{
      &:not(.active){
        background-color: lightgrey;
        color: white;
      }
        transform: scale(1.1);
    }
  }
}
