.shiftTimesBarMain{
  padding-left: 4px;
  padding-top: 2px;
  align-items: center;
  height: 21px;
  padding-bottom: 3px;

  .shiftTimes{
    pointer-events: none;
    color: #525460;
    font-size: 14px;
    font-weight: 400;
  }

  .breakTime{
    //height: 13px;
    font-size: 12px;
    font-weight: 300;
    justify-content: flex-end;
    pointer-events: none;
    align-items: center;
    color: #c1c1c1;
    border-radius: 1px;
    align-items: center;
    margin-left: 3px;
    margin-bottom: 1px;
  }
}
