.userRowMain{
  flex-direction: row;
  height: 40px;
  border-bottom: 1px solid #dfe0e4;
  width: 100%;

  &:last-child{
    border-bottom: none;
    border-bottom-right-radius: 2px;

    .userCellMain{
      border-bottom-left-radius: 2px;
    }
  }
}
