#appMain{
  flex-direction: row;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  align-items: center;

  .sticky{
    padding-top: 60px;
  }

  .content{
    flex: 0 0 auto;
    height: 1200px;
    width: 100%;
    background: #eaeaea;
  }
}

.mobileWrapperMain{
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
