.absenceBarMain{
  position: absolute;
  height: 100%;
  background: grey;
  border-radius: 2px;

  // background: repeating-linear-gradient(
  //   45deg,
  //   rgba(0, 0, 0, 0.44),
  //   rgba(0, 0, 0, 0.44) 10px,
  //   #465298 10px,
  //   #465298 20px
  // );

  &.requested{
    background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 10px,
    rgba(0,0,0,0.1) 10px,
    rgba(0,0,0,0.1) 20px
    );
  }

  .content{
    flex: 1 1 auto;
    align-items: center;
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.44);
    font-weight: 600;
    font-size: 14px;
  }

  .arrowIndicator{
    width: 20px;
    flex: 0 0 auto;
    background: rgba(0, 0, 0, 0.16);
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-weight: 700;
  }
}
