.editAbsenceDaysModalMain{
  min-width: 500px;
  padding: 12px;
  justify-content: center;

  .explenationText{
    align-items: center;
    margin-right: 16px;
  }

  .daysInput{
    width: 50px;
    height: 28px;
    text-align: center;
  }
}
