.absenceTypeSelectMain{

  .opt{
    color: grey;
    font-size: 16px;
    width: 108px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #e6e6e6;
    height: 42px;

    &:first-of-type{
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-of-type{
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    &.selected{
      background: #00a2ef;
      color: white;
      cursor: default;
    }
  }
}
