.sModalContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.40);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.sModalMain{
  background-color: white;
  flex-direction: column;
  cursor: default;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.sModalMain > * {
	align-self: stretch;
  flex: 0 1 auto;
}

.sModalHead{
  padding: 4px 0px;
  background: rgba(28,28,28,0.02);
  border-bottom: 1px solid #e5e5e5;
	height: 44px;
  justify-content: space-between;
  font-size: 16px;
  color: #999;

	.sModalTitle{
		align-items: center;
    padding-left: 16px;
		padding-top: 1px;
    font-size: 20px;
    font-weight: 400;
		color: #636363;
		letter-spacing: 0.6px;
    min-width: 0px;

    .titleSpan{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
	}

	.sModalX{
		flex: 0 1 auto;
		align-items: center;
    padding: 6px;
    padding-top: 8px;
		cursor: pointer;

		icon{
			border: none;
	    font-size: 18px;
	    padding: 6px;
	    color: #989898;
      font-weight: bold;
		}

		icon:hover{
			color: #666;
		}
	}
}

.sModalBody{
	flex-direction: column;
	font-size: 17px;
  max-height: 560px;
}

.sModalFooter{
	padding: 10px;
	padding-right: 0px;
  background: rgba(28, 28, 28, 0.02);
  border-top: 1px solid #e5e5e5;

	>*{
		margin-right: 10px;
	}
}
