.addEditUserPopup {
  flex-direction: column;
  overflow-y: auto;
  min-width: 700px;
  font-size: 16px;
  overflow: visible;
  color: grey;
  margin: 8px; }
  .addEditUserPopup > *:not(:last-of-type) {
    margin-bottom: 8px; }
  .addEditUserPopup .mainForm {
    flex-direction: column;
    border-radius: 2px;
    border: 1px solid #d6d5d5;
    overflow: visible;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1);
    z-index: 2; }
    .addEditUserPopup .mainForm .flatFormRowMain:last-child {
      border-bottom: none; }
  .addEditUserPopup .footerInfoText {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: #6d6d6d;
    padding-left: 10px;
    font-weight: 300; }
