.emailStatusMain{
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 0px 12px;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  background-color: grey;
  min-width: 100px;
  bottom: 4px;
  color: white;
  border-radius: 1px;

  .icon{
    padding: 0px;
    padding-right: 6px;
  }

  &.NOT_INVITED{
    color: white;
    background-color: #ff3325;
  }

  &.INVITED{
    color: white;
    background-color: orange;
  }

  &.ACTIVE{
    color: white;
    background-color: #2fcb71;
  }
}
