.emailStatusMain{
  position: absolute;
  right: 7px;
  top: 4px;
  padding: 0px 12px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ffd281;
  background-color: white;
  min-width: 100px;
  bottom: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  icon{
    padding: 0px;
    padding-right: 8px;
  }

  &.notInvited{
    color: #ff3325;
    background-color: #ffe8e8;

    icon{
      color: #ff3325;
    }
  }

  &.invited{
    color: orange;
    background-color: #ffeecf;
    icon{
      color: orange;
    }
  }

  &.active{
    color: #00ad49;
    background-color: #c2ffc2;
    icon{
      color: #00ad49;
    }
  }
}
