@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.ttf?uqosd8') format('truetype'),
            url('../fonts/icomoon.woff?uqosd8') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}
.icon-group:before {
  content: "\e902";
}
.icon-flag:before {
  content: "\e153";
}
.icon-beach_access:before {
  content: "\eb3e";
}
.icon-healing:before {
  content: "\e3f3";
}
.icon-local_airport:before {
  content: "\e53d";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-add_circle:before {
  content: "\e147";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-poll:before {
  content: "\e801";
}
.icon-assignment:before {
  content: "\e85d";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-palette:before {
  content: "\e40a";
}
.icon-colorize:before {
  content: "\e3b8";
}
.icon-comment:before {
  content: "\e0b9";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-crop_square:before {
  content: "\e3c6";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e92b";
}
.icon-do_not_disturb_alt:before {
  content: "\e611";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-done:before {
  content: "\e876";
}
.icon-error:before {
  content: "\e000";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-insert_invitation:before {
  content: "\e24f";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-event_busy:before {
  content: "\e615";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-report:before {
  content: "\e160";
}
.icon-warning2:before {
  content: "\e002";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-star4:before {
  content: "\e929";
}
.icon-trash:before {
  content: "\e92a";
}
.icon-user2:before {
  content: "\e92c";
}
.icon-settings:before {
  content: "\e92e";
}
.icon-pen:before {
  content: "\e937";
}
.icon-mail:before {
  content: "\e93a";
}
.icon-params:before {
  content: "\e93c";
}
.icon-home:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-pencil2:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e94f";
}
.icon-clock2:before {
  content: "\e950";
}
.icon-download:before {
  content: "\e961";
}
.icon-equalizer:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e995";
}
.icon-bin:before {
  content: "\e9ad";
}
.icon-bookmark:before {
  content: "\e9d3";
}
.icon-warning:before {
  content: "\ea08";
}
.icon-notification:before {
  content: "\ea09";
}
.icon-question:before {
  content: "\ea0a";
}
.icon-plus:before {
  content: "\ea0b";
}
.icon-minus:before {
  content: "\ea0c";
}
.icon-info:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea10";
}
.icon-checkmark:before {
  content: "\ea11";
}
.icon-checkmark2:before {
  content: "\ea12";
}
.icon-loop2:before {
  content: "\ea2f";
}
.icon-arrow-up:before {
  content: "\ea33";
}
.icon-arrow-left:before {
  content: "\ea39";
}
.icon-arrow-right2:before {
  content: "\ea3d";
}
.icon-arrow-left2:before {
  content: "\ea41";
}
.icon-circle-up:before {
  content: "\ea42";
}
.icon-checkbox-checked:before {
  content: "\ea53";
}
.icon-checkbox-unchecked:before {
  content: "\ea54";
}
.icon-location2:before {
  content: "\e948";
}
.icon-youtube:before {
  content: "\ea9d";
}
