.absenceCalendarMain{
  margin-top: 10px;
  min-height: 100px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #d6d7dc;
  border-top: 1px solid #dfe0e4;


  .usersCol{
    width: 240px;
    flex-direction: column;

    .usersHeadCell{
      height: 48px;
      width: 100%;
      padding-left: 8px;
      background: #f7f7f7;
    }

    .userCell{
      height: 36px;
      width: 100%;
      font-weight: 300;
      align-items: center;
      padding-left: 8px;
      background: #f7f7f7;

      border-top: 1px solid #dfe0e4;
      // &:not(:last-of-type){
      //   border-top: 1px solid #dfe0e4;
      // }
    }
  }
}
