.resolveEditPopoverMain{
  background-color: white;
  position: absolute;
  flex-direction: column;
  border: 1px solid #00a3ef;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.22);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  align-items: stretch;

  .shiftWrapper{
    flex-direction: column;

    .headline{
      background: #e9ebee;
      color: #7c7c8c;
      padding-left: 3px;
      height: 16px;
      align-items: center;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 11px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    .editedVersion{
      position: relative;
      justify-content: center;
      align-items: center;
      border: 1px solid lightgrey;
      flex: 0 0 auto;
      border-left: none;
      border-right: none;

      .cornerBreak{
        position: absolute;
        bottom: 0px;
        height: 13px;
        font-size: 9px;
        font-weight: 500;
        justify-content: flex-end;
        pointer-events: none;
        right: 2px;
        align-items: center;
        color: lightgrey;
        border-radius: 1px;
        align-items: center;
      }
    }
  }

  .buttonsWrapper{
    margin: 2px 2px;
    flex-direction: column;
    flex: 0 1 auto;

    .actionButton{
      flex: 0 0 auto;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 100%;

      background: #dcf4ff;
      border-radius: 1px;
      font-weight: 400;
      color: #00a3ef;
      font-size: 15px;

      &:not(:last-child){
        margin-bottom: 2px;
      }
    }
  }


  .closeButton{
    position: absolute;
    width: 18px;
    height: 16px;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    color: #7c7c8c;
    cursor: pointer;
    font-size: 12px;
    background: #e9ebee;
    padding: 0px;
    font-weight: 600;
    border-bottom-left-radius: 1px;
    padding-bottom: 1px;
    //border-left: 1px solid lightgrey;

    &:hover{
      background-color: lightgrey;
    }
  }

  &.arrow_top:after, &.arrow_top:before {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  &.arrow_top:after {
  	border-color: rgba(213, 43, 128, 0);
  	border-bottom-color: #e9ebee;
  	border-width: 7px;
  	margin-left: -7px;
  }

  &.arrow_top:before {
  	border-color: rgba(0, 25, 245, 0);
  	border-bottom-color: #00a3ef;
  	border-width: 9px;
  	margin-left: -9px;
  }

  &.arrow_bottom:after, &.arrow_bottom:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &.arrow_bottom:after {
    border-color: rgba(213, 43, 128, 0);
    border-top-color: white;
    border-width: 6px;
    margin-left: -6px;
  }

  &.arrow_bottom:before {
    border-color: rgba(0, 25, 245, 0);
    border-top-color: orange;
    border-width: 9px;
    margin-left: -9px;
  }
}
