.userCellMain{
  position: relative;
  flex: 1 1 auto;
  background-color: #f7f7f7;
  padding-left: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .posBox{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0 2px;
    //color: rgba(255, 255, 255, 0.95);
    font-size: 8px;
    font-weight: 500;
    border-radius: 2px;
    text-transform: uppercase;
    height: 12px;
    align-items: center;
    border: 1px solid;
  }

  .userName{
    margin-bottom: 4px;
    font-weight: 400;
    color: #525252;
    font-size: 14px;

    &.big{
      font-size: 16px;
      font-weight: 300;
      margin-left: 4px;
    }

    &.inActive{
      color: #bbbcbf;
    }
  }

  .times {
    font-size: 12px;
    margin-left: 1px;

    &.hidden{
      display: none;
    }

    .currentWeek{
      color: #a7a7a7;

      .istTime{
        margin-right: 3px;

        &.negative{
          //color: #ff4a4a;
          font-weight: 400;
        }

        &.positive{
          font-weight: 400;
          // color: grey;
        }
      }
    }

    .overtime{
      color: red;
      margin-right: 4px;
    }
  }
}
