.absenceDetailsDisplayMain{
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  color: #313131;
  background: none;
  background: whitesmoke;
  padding-top: 7px !important;
  padding-bottom: 7px !important;

  .col{
    align-items: center;

    &.edgeRight{
      border-right: 1px solid #e0e0e0;
      padding-right: 16px;
    }

    &.marginLeft{
      margin-left: 20px;
    }

    .label{
      font-weight: 300;
      margin-right: 10px;
      color: #00a1f0;



      &.effective{
        color: orange;
      }

      &.time{
        color: #8c8d8e;
      }
    }

    .count{
      font-weight: 400;
      color: #686868;
      margin-left: 4px;
      font-size: 18px;
      margin-top: 2px;
    }
  }

  .editIcon{
    margin-left: 6px;
    color: #c1c1c1;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;

    &:hover{
      background: orange;
      color: white;
    }
  }
}
