.absenceDetailsDisplayMain{
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  color: #313131;
  background: none;
  background: whitesmoke;
  padding-top: 4px !important;
  padding-bottom: 4px !important;

  .col{
    align-items: center;

    .label{
      font-weight: 300;
      margin-right: 10px;
      color: #00a1f0;

      &.effective{
        margin-left: 26px;
        color: orange;
      }
    }

    .count{
      font-weight: 400;
      color: #686868;
    }
  }

  .editIcon{
    margin-left: 6px;
    color: #c1c1c1;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;

    &:hover{
      background: orange;
      color: white;
    }
  }
}
