.locationBarMain{
  border-radius: 1px;
  align-items: center;
  padding: 0px 4px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  justify-content: space-between;
  align-self: stretch;
  padding-left: 5px;
  padding-right: 8px;
  height: 21px;

  &.editable{
    &:hover{
      background: #eaeaea;
    }
  }

  .wrapper{
    flex: 0 1 auto;
  }

  .xBtn{
    color: grey;
    font-weight: 600;
    border-radius: 1px;

    &:hover{
      background: rgba(0, 0, 0, 0.15);
      font-weight: 800;
    }
  }

  &:hover{
    .xBtn{
      display: block;
    }
  }

  .xBtn{
    display: none;
  }
}
