.absenceModalMain{
  width: 700px;
  padding: 12px 14px 14px 14px;
  flex-direction: column;
  >*:not(:first-of-type){
    margin-top: 12px;
  }

  .DateRangePicker{
    .DateRangePickerInput{
      .DateInput{
        padding: 4px;
      }
    }
  }
}
