.absenceModalMain{
  width: 700px;
  padding: 12px;
  flex-direction: column;
  color: #525252;

  >*:not(:first-of-type){
    margin-top: 12px;
  }

  .firstRow{
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;

    .DateRangePicker{
      .DateRangePickerInput{
        .DateInput{
          padding: 4px;
        }
      }
    }
  }
}
