.absenceCorrectionModalDisplayRowMain{

  height: 40px;
  color: grey;
  align-items: stretch;

  &:not(:last-of-type){
    border-bottom: 1px solid lightgrey;
  }

  >*{
    align-items: center;
  }

  .label{
    flex: 1 1 auto;
  }

  .content{
    flex: 0 0 auto;
    width: 60px;
    color: black;
  }

  .unit{
    flex: 0 0 auto;
    justify-content: flex-end;
    margin: 0px 12px;
  }
}
