.overlapIcon{
  background-color: #ff3232;
  border-radius: 2px;
  padding: 2px;
  color: black;
  margin: 1px;
  //justify-content: center;
  align-items: center;

  .icon{
    color: white;
    margin-right: 4px;
    font-size: 14px;
  }

  .description{
    margin-top: 1px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
  }
}
