.oTimeCorrectionModalMain{
  width: 580px;
  padding: 12px 14px 14px 14px;
  flex-direction: column;

  .explenationText{
    margin-bottom: 12px;
    color: #5d5d5d;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .mainInputWrapper{
    justify-content: center;
  }
}
