.adminpanelUsers .adminPanelUserItem {
  font-size: 16px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.68);
  padding: 2px 10px 2px 30px;
  color: grey;
  justify-content: space-between;
  cursor: pointer; }
  .adminpanelUsers .adminPanelUserItem:hover {
    background-color: #f4fcff; }
  .adminpanelUsers .adminPanelUserItem .item {
    font-size: 14px;
    flex: 1 1 auto;
    padding: 6px;
    align-items: center; }
    .adminpanelUsers .adminPanelUserItem .item .icon {
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin-right: 6px; }
  .adminpanelUsers .adminPanelUserItem .name {
    flex: 1 1 200px;
    font-size: 16px; }
  .adminpanelUsers .adminPanelUserItem .position {
    flex: 1 1 80px; }
  .adminpanelUsers .adminPanelUserItem .branches {
    flex: 1 1 240px;
    font-size: 14px;
    min-width: 0;
    margin-right: 40px; }
    .adminpanelUsers .adminPanelUserItem .branches .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%; }
  .adminpanelUsers .adminPanelUserItem .status {
    max-width: 100px; }
  .adminpanelUsers .adminPanelUserItem .emailIcon {
    font-size: 20px;
    margin-right: 10px; }

.adminpanelUsers .deleted {
  color: lightgrey; }
  .adminpanelUsers .deleted .reactivateUserButton {
    flex: 0 0 auto;
    margin-right: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    color: #555555;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
