.adminpanelUsers{
	.adminPanelUserItem{
		font-size: 16px;
		border-bottom: 1px solid rgba(211, 211, 211, 0.68);
		padding: 2px 10px 2px 30px;
		color: grey;
		justify-content: space-between;
		cursor: pointer;
		height: 36px;
		flex: 0 0 auto;

		&:hover {
			background-color: #f4fcff;
		}

		.item{
			font-size: 14px;
			flex: 1 1 auto;
			padding: 6px;
			align-items: center;
			//margin-right: 20px;

			.icon{
				justify-content: center;
				align-items: center;
				font-size: 14px;
				margin-right: 6px;
			}
		}

		.name{
			flex: 1 1 200px;
			font-size: 16px;
		}


		.position{
			flex: 1 1 80px;
		}

		.branches{
			flex: 1 1 240px;
			font-size: 14px;
			min-width: 0;
			margin-right: 40px;

			.text{
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 100%;
			}
		}

		.status{
			max-width: 100px;
		}

		.emailIcon{
			font-size: 20px;
			margin-right: 10px;
		}
	}

	.deleted{
		color: lightgrey;

		.reactivateUserButton{
			flex: 0 0 auto;
			margin-right: 70px;
			font-weight: 600;
			letter-spacing: 1px;
			font-size: 11px;
			color: #555555;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
}
