
#adminPanelUserItem{
	font-size: 16px;
	align-items: center;
	color: grey;
	justify-content: flex-start;
	cursor: pointer;
	flex: 1;

	&:hover {
		background-color: #f4fcff;
	}

	.color-box {
		height: 20px;
		width: 20px;
		flex: 0 0 auto;
		border-radius: 3px;
    margin: 9px;
	}

	.item{
		font-size: 14px;
		flex: 1;
		padding: 6px;
		align-items: center;
	}

	.name{
		font-size: 16px;
		width: 180px;
		flex: 1 1 auto;
	}
}

.deleted{
	color: lightgrey;

	.reactivateUserButton{
		flex: 0 0 auto;
		margin-right: 70px;
		font-weight: 600;
		letter-spacing: 1px;
		font-size: 11px;
		color: #555555;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}

.icon{
	justify-content: center;
	align-items: center;
	font-size: 14px;
	margin-right: 6px;
}

.emailIcon{
	font-size: 20px;
	margin-right: 10px;
}
