.adminpanelUsers .adminPanelUserItem {
  font-size: 16px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.68);
  padding: 2px 20px 2px 30px;
  color: grey;
  justify-content: flex-start;
  cursor: pointer; }
  .adminpanelUsers .adminPanelUserItem:hover {
    background-color: #f4fcff; }
  .adminpanelUsers .adminPanelUserItem .color-box {
    height: 20px;
    width: 20px;
    flex: 0 0 auto;
    border-radius: 3px;
    margin: 9px; }
  .adminpanelUsers .adminPanelUserItem .item {
    font-size: 14px;
    flex: 1 0 auto;
    padding: 6px;
    align-items: center;
    max-width: 180px; }
  .adminpanelUsers .adminPanelUserItem .name {
    font-size: 16px; }

.adminpanelUsers .deleted {
  color: lightgrey; }
  .adminpanelUsers .deleted .reactivateUserButton {
    flex: 0 0 auto;
    margin-right: 70px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    color: #555555;
    justify-content: center;
    align-items: center;
    cursor: pointer; }

.adminpanelUsers .icon {
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 6px; }

.adminpanelUsers .emailIcon {
  font-size: 20px;
  margin-right: 10px; }
