.extendedUserConfigsMain{
  flex-direction: column;
  align-self: stretch;
  background-color: white;
  border-radius: 2px;
  margin: 4px;
  border: 1px solid #c3c3c3;


  .head{
    border-radius: 2px;
    height: 30px;
    color: #525252;
    font-size: 14px;
    padding-left: 6px;
    background: #f1f1f1;
    align-items: center;
    cursor: pointer;

    &.expanded{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: 1px solid #e6e6e6;
    }

    &:hover{
      //background-color: lightgrey;
    }

    .expandIcon{
      border-right: 1px solid rgba(0, 0, 0, 0.09);
      margin-right: 6px;
      height: 29px;
      padding-right: 5px;
    }
  }

  .content{
    padding: 6px;
  }
}
