.groups-list-element {
  font-size: 16px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.68);
  padding: 5px 20px 5px 9px;
  height: 50px;
  align-items: center; }
  .groups-list-element .icon {
    flex: 0; }
  .groups-list-element .groupIcon {
    font-size: 14px;
    color: grey; }
  .groups-list-element .editGroupButton {
    margin: 0 20px 0 0; }
  .groups-list-element .deleteIcon {
    cursor: pointer; }
    .groups-list-element .deleteIcon.disabled {
      color: lightgrey;
      cursor: default; }
