.actionBarDateDisplayMain {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #909090;
  font-size: 18px;
  margin-left: 0px;
  padding: 0 16px;
  height: 24px;
  border-radius: 2px; }
  .actionBarDateDisplayMain:hover {
    color: grey;
    background-color: lightgrey; }
