.absenceDetailsDisplayMain{
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  color: #313131;
  background: none;
  padding-left: 300px;
  background: whitesmoke;

  .row{
    align-items: center;

    .label{
      margin-right: 10px;
      color: #00a1f0;

      &.effective{
        margin-left: 26px;
        color: orange;
      }
    }

    .count{
      font-weight: 600;
    }
  }
}
