.shiftBoxMainMob{
  flex: 1 0 auto;
  position: relative;
  align-self: stretch;
  //min-height: 50px;
  border-radius: 2px;
  background: #f9f9f9;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  overflow: hidden;
  color: #4e4e4e;
  padding: 0px;

  &:not(:first-of-type){
    margin-top: 8px;
  }

  &.openShift{
    box-sizing: border-box;

    .row{
      .userName{
        color: #ff6d94;
      }
    }
  }

  &.focused{
    background-color: #3586ff;
    color: #e6f0ff;
  }

  &.absent{
    box-shadow: none;
  }

  .timeRow{
    border-bottom: 1px solid #e8e8e8;
  }

  .row{
    height: 28px;
    padding: 0px 8px;
    align-items: center;

    >*{
      align-items: center;
    }

    .breakMins{
      margin-left: 2px;
      color: #c3c3c3;
    }

    .userName{
      color: #3baae8;
      //margin-left: 2px;

    }

    .branchName{
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      color: #3baae8;
    }

    .location{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      margin-right: 2px;
      opacity: 0.8;
    }

    .note{
      position: absolute;
      top: 2px;
      right: 6px;
      color: #ef9a00;
      font-size: 22px;
    }
  }

  .secondRow{
    justify-content: space-between;
  }

  .shiftEditBarMobile{
    background: #ffaf0e;
    align-items: center;
    padding-left: 8px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    height: 26px;
    flex: 0 0 auto;
    justify-content: space-between;

    .text{
      margin-right: 6px;
    }

    .boldStyle{
      font-weight: 600;
      color: white;
    }

    .time{

    }

    .seperator{
      margin: 0px 3px;
    }

    .breakMinutes{
      flex: 1;
      width: 18px;
      font-size: 12px;
      margin: 0px;
      align-self: center;
      margin-left: 4px;
    }

    .pencilIcon{
      justify-content: flex-end;
      margin-right: 4px;
      font-size: 13px;
      color: white;
    }
  }

  .absenceOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 49, 58, 0.17);
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
    color: white;
    justify-content: center;
    align-items: center;

    .icon{
      font-size: 32px;
      color: #96a0a7;
    }
  }

  .position{
    background: red;
    color: #f9f9f9;
    padding: 0px 6px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-right: -4px;
  }
}
