.shiftBoardDayColMain{
  flex-direction: row;
  flex: 0 0 auto;
  align-items: stretch;
  padding: 4px 0px;

  .dayHead{
    padding-top: 2px;
    color: #8b8f94;
    padding-left: 4px;
    font-weight: 100;
    width: 60px;
    flex-direction: column;
    margin-right: 8px;
    height: 50px;

    .weekDay{
      font-weight: 600;
      text-transform: uppercase;
      font-size: 28px;
      justify-content: center;
      font-size: 24px;
      color: #008cd4;
    }

    .date{
      justify-content: center;
      color: #56acda;
    }

    &.isEmpty{
      opacity: 0.6;

      .weekDay{
        font-weight: 400;
        color: #adadad;
      }

      .date{
        color: #adadad;
      }
    }
  }

  .shiftsWrapper{
    flex: 1 1 auto;
    flex-direction: column;
  }
}
