.absenceErrorMessageMain{
  padding: 4px;
  padding-left: 4px;
  background: #ff4949;
  color: white;
  font-size: 14px;
  border-radius: 2px;


  .alertIcon{
    margin-right: 6px;
    margin-left: 2px;
  }

  .text{
    font-weight: 300;
  }
}
