.closeButtonMain{
  position: absolute;
  width: 15px;
  height: 14px;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  background: #00a3ef;
  padding: 0px;
  font-weight: 600;
  border-bottom-left-radius: 4px;
  padding-bottom: 1px;

  &:hover{
    background: #007ab3;
  }
}
