
.displayShiftBoxMain{
  flex: 0 1 auto;
  min-height: 44px;
  width: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: 1px solid #d6d7dc;
  margin: 1px 0px;

  .edited{
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 1px 0 0 1px;
    background: #00a3ef;
    color: white;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    opacity: 0.6;
  }

  .posBox{
    height: 14px;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 1px;
  }

  .shiftTimesWrapper{
    padding-left: 4px;
    padding-top: 2px;
    align-items: flex-end;

    .shiftTimes{
      pointer-events: none;
      color: #3c3c3c;
    }

    .breakTime{
      height: 13px;
      font-size: 9px;
      font-weight: 500;
      justify-content: flex-end;
      pointer-events: none;
      align-items: center;
      color: #c1c1c1;
      border-radius: 1px;
      align-items: center;
      margin-left: 3px;
      margin-bottom: 1px;
    }
  }

  .extendCellBtn{
    width: 12px;
    height: 12px;
    background-color: lightgrey;
    color: grey;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-top-left-radius: 2px;
    //animation: scaleIn 0.15s ease;

    &:hover{
      background-color: #00a3ef;
      color: white;
      width: 14px;
      height: 14px;
    }
  }
}

// @keyframes scaleIn {
//     0% {
//       opacity: 0;
//       width: 0px;
//       height: 0px;
//     }
//     100%  {
//       opacity: 1;
//       width: 12px;
//       height: 12px;
//     }
// }
