.hoursPerVacDay{
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
  margin-top: 6px;

  .inpWrapper{
    flex: 0 0 auto;
    width: 50px;
    font-size: 14px;
    height: 30px;
    margin-left: 2px;

    input{
      border-radius: 2px;
      text-align: center;
      font-size: 16px;
      width: 100%;
      font-weight: 300;

      &::placeholder{
        color: lightgrey;
      }
    }
  }

  .seperator{
    align-items: center;
    margin-left: 4px;
    margin-right: 8px;
  }

  .label{
    align-items: center;
    width: 206px;
    justify-content: flex-end;
    margin-right: 10px;
    color: #575252;
  }
}
