.absenceSumsDisplayMain{
  color: grey;
  font-weight: 400;
  font-size: 14px;
  padding: 2px 4px;
  background: #e2e2e2;
  border-radius: 2px;
  flex: 0 0 auto;

  &.adminMode.vacMode{
    &:hover{
      color: white;
      background: #16aaf1;
    }
  }

  .vacDays{
    margin-left: 3px;
  }

  .editedIcon{
    margin-left: 4px;
  }
}
