.topbarUserOptionsMain{

  .userName{
    font-weight: 200;
    padding-left: 4px;
  }

  .logoutIcon{
    margin-left: 6px;
    margin-right: 2px;
    cursor: pointer;
    color: white;
    font-size: 18px;
  }
}
