.addEditUserPopupMain{
	.addEditUserPopupBody{
		flex-direction: column;
		overflow-y: auto;
		min-width: 700px;
		font-size: 16px;
		overflow: visible;
		color: grey;
		margin: 8px;

		>*{
			&:not(:last-of-type){
				margin-bottom: 8px;
			}
		}

		.mainForm{
			flex-direction: column;
			//background-color: white;
			border-radius: 2px;
			border: 1px solid #d6d5d5;
			overflow: visible;
			box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1);
			z-index: 2;


			.flatFormRowMain{
				&:last-child{
					border-bottom: none;
				}
			}

			.avgDailyHours{
				margin-right: 14px;
				font-size: 14px;
	    	color: #80848b;
			}
		}
	}

	.deleteBtn{
		background: #e8e8e8;
		padding: 0px 10px;
		border-radius: 2px;
		color: grey;
		cursor: pointer;
	}
}
