.adminpanel_positionListItem{
	font-size: 16px;
	color: grey;
	justify-content: flex-start;
	cursor: pointer;
	flex: 1;

	&:hover {
		background-color: #f4fcff;
	}

	.color-box {
		height: 20px;
		width: 20px;
		flex: 0 0 auto;
		border-radius: 3px;
    margin: 9px;
	}

	.item{
		font-size: 14px;
		flex: 1 0 auto;
		padding: 6px;
		align-items: center;
		max-width: 180px;
	}

	.name{
		font-size: 16px;
	}
}
