.absenceCalendarHeadMain{

  .usersHead{
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    background: #f7f7f7;

    .type{
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      color: grey;
    }

    .year{
      font-size: 26px;
      font-weight: 600;
      color: #585858;
    }

  }

  .monthHead{
    flex: 0 0 auto;
    height: 64px;
  }
}
