.absenceUserCellMain{
  position: relative;
  flex: 1 1 auto;
  font-weight: 300;
  align-items: center;
  background: #f7f7f7;
  justify-content: flex-start;
  padding-left: 2px;
  padding-right: 4px;
  cursor: pointer;

  .addAbsenceBtn{
    width: 0px;
    background: #2ecc71;
    color: white;
    align-self: stretch;
    margin: 2px 0px;
    //margin-left: 2px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    opacity: 0;
    //transform: scale(0.2, 0.2);
    transition: opacity 0.2s ease;

    will-change: transform;
    will-change: opacity;

    &:hover{
      background: #10b355;
    }
  }

  &:hover{
    .addAbsenceBtn{
      margin-right: -4px;
      width: 30px;
      display: flex;
      opacity: 1;
      //transform: scale(1.2);
    }

    .userName{
      //margin-left: 4px;
    }
  }

  .userName{
    flex: 1 1 auto;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0px;
    display: block;
  }
}
