.absenceUserCellMain{
  position: relative;
  flex: 1 1 auto;
  font-weight: 300;
  align-items: center;
  padding-left: 8px;
  background: #f7f7f7;

  .addAbsenceBtn{
    position: absolute;
    right: 0px;
    background: grey;
    color: white;
    align-self: stretch;
    width: 40px;
    height: 100%;
    //display: hidden;
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease;
    justify-content: center;
    align-items: center;
  }

  &:hover{
    .addAbsenceBtn{
      &.adminMode{

        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 1;
        transform: scale(0.8, 0.8);
      }
    }
  }
}
