.planModeSelectorMain{

  border-right: 1px solid #e8e8e8;

  .sel{
    flex: 1 1 auto;
    font-size: 34px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    color: lightgrey;
    width: 60px;

    &.personal{
      font-size: 34px;
    }

    &.active{
      background: #cfefff;
      color: #008acc;
    }
  }
}
