
.userProfileMain{
	justify-content: center;
	width: 100%;
	min-height: 600px;

	.userProfile-body {
		width: 100%;
		max-width: 1100px;
		flex-direction: row;
		justify-content: center;
		display: flex;
		flex: 1 0 auto;
		margin-top: 30px;
		margin-bottom: 20px;

		.userProfile-navbar {
			width: 210px;
			border-right: 1px solid lightgrey;
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			background-color: #f3f3f3;
		}

		.selected {
			background-color: white;
			color: #009be4 !important;
		}

		.navbar-item {
			box-sizing: border-box;
			display: flex;
			font-size: 13px;
	    border-bottom: 1px solid rgba(211, 211, 211, 0.55);
	    color: #8a8a8a;
	    height: 34px;
	    justify-content: center;
	    align-items: center;
	    font-weight: 500;
	    cursor: pointer;
	    letter-spacing: 1px;
	    text-transform: uppercase;
		}

		.userProfileContent {
			overflow-y: scroll;
			width: 100%;
		}
	}
}

.edgebox{
	background-color: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
}
