.absenceRowMain{

  height: 36px;
  border-top: 1px solid #dfe0e4;
  &:not(:last-of-type){
    border-top: 1px solid #dfe0e4;
  }

  .monthCell{
    flex: 0 0 auto;
  }

  &:last-of-type{
    .userCell{
      border-bottom-left-radius: 2px;
    }
  }
}
