.hasNoteCellIcon {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0px;
  color: orange;
  font-size: 16px; }
  .hasNoteCellIcon.inPopover {
    top: 4px;
    right: 4px; }
  .hasNoteCellIcon:hover {
    color: red; }

.shiftCellMain {
  position: relative;
  border-left: 1px solid #dfe0e4;
  justify-content: center;
  align-items: center; }
  .shiftCellMain.highlighted {
    background-color: #00a3ef;
    color: #fbfcfd; }
  .shiftCellMain.shadowed {
    background-color: #c8eeff;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.32);
    color: grey; }
  .shiftCellMain .shiftTimes {
    pointer-events: none; }
  .shiftCellMain .breakTime {
    position: absolute;
    bottom: 0px;
    height: 13px;
    font-size: 9px;
    font-weight: 500;
    justify-content: flex-end;
    pointer-events: none;
    right: 2px;
    align-items: center;
    color: lightgrey;
    border-radius: 1px;
    align-items: center; }
