.shiftCellMain{
  border-left: 1px solid #dfe0e4;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .testBox{
    width: 20px;
    height: 20px;
    background-color: red;
    pointer-events: none;
  }
}
