.rosterSubBarMain {
  flex: 0 0 auto;
  background-color: white;
  color: #008fd2;
  height: 40px;
  align-items: stretch;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 0px 2px 4px -3px grey;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  overflow: visible; }
  .rosterSubBarMain .centered {
    flex: 0 1 1200px;
    align-items: stretch;
    padding-left: 1px;
    color: #b5b5b5; }
    .rosterSubBarMain .centered .branchSelector {
      padding: 0px;
      width: 200px;
      border: none;
      margin-right: 4px; }
      .rosterSubBarMain .centered .branchSelector .Dropdown-root {
        height: 100%;
        width: 100%; }
        .rosterSubBarMain .centered .branchSelector .Dropdown-root .Dropdown-control {
          cursor: pointer;
          display: flex;
          align-items: center;
          height: 100%;
          border: none;
          border-right: 1px solid #e2e8ea;
          border-left: 1px solid #e2e8ea;
          border-radius: 0px;
          padding: 0 0 0 8px;
          color: #555; }
          .rosterSubBarMain .centered .branchSelector .Dropdown-root .Dropdown-control .Dropdown-arrow {
            right: 12px;
            top: 20px; }
        .rosterSubBarMain .centered .branchSelector .Dropdown-root .Dropdown-menu {
          margin-top: 0px;
          box-shadow: 0px 8px 12px -2px rgba(0, 0, 0, 0.46); }
    .rosterSubBarMain .centered .navigation.hidden {
      display: none; }
    .rosterSubBarMain .centered .navigation .subBarButton {
      align-items: center;
      padding: 0 16px;
      cursor: pointer;
      align-self: stretch;
      font-size: 16px;
      text-decoration: uppercase;
      font-weight: 400;
      margin: 4px;
      margin-left: 0px;
      border-radius: 2px; }
      .rosterSubBarMain .centered .navigation .subBarButton:hover {
        background: #f3f3f3; }
      .rosterSubBarMain .centered .navigation .subBarButton.activeBlue {
        color: #008acc;
        background: #cfefff; }
      .rosterSubBarMain .centered .navigation .subBarButton.activePink {
        color: #ff5571;
        background: #ffe6eb; }

@media print {
  .rosterSubBarMain {
    display: none; } }
