.absenceModalMain{
  width: 700px;
  flex-direction: column;
  color: #525252;

  >*{
    padding: 10px;
    padding-left: 20px;

    >.label{
      flex: 0 0 auto;
      width: 180px;
      font-weight: 300;
      color: #666666;
      align-items: center;
    }

    &:not(:last-of-type){
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .selectRangeWrapper{
    flex-direction: row;
    justify-content: flex-start;
    z-index: 2;

    .DateRangePicker{
      .DateRangePickerInput{
        border-color: #00a1f0;
        .DateInput{
          padding: 4px;
        }
      }
    }
  }
}
