.extraHoursBoxMain{
  flex: 0 1 auto;
  min-height: 24px;
  width: 100%;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: 1px solid #c3c4c7;
  margin: 1px 0px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6px;
  font-size: 12px;
  font-weight: 400;
  color: #525561;
  box-shadow: 0px 1px 2px -2px #060606;
}
