.absoluteTimeInputMain{
  justify-content: center;

  .minusPlusWrapper{
    width: 100px;
    height: 34px;
    border-radius: 4px;
    margin-right: 4px;

    .option{
      flex: 1 1;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      cursor: pointer;
      background: #e6e6e6;
      color: #a0a0a0;

      &.plus{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;

        &.selected{
          color: white;
          background: #07cc59;
        }
      }

      &.minus{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;

        &.selected{
          color: white;
          background: #f14e4e;
        }
      }

      &:hover{
        &:not(.selected){
          background-color: lightgrey;
        }
      }

      &:first-of-type{
        //border-right: 1px solid grey;
      }
    }
  }

  .inputWrapper{
    height: 34px;
    width: 60px;
    input{
      width: 100%;
      // border-top-left-radius: 2px;
      // border-bottom-left-radius: 2px;
      text-align: center;
      font-size: 18px;
      color: #5d5d5d;
    }
  }

  .unit{
    align-items: center;
    color: #888888;
    font-size: 16px;
    margin-right: -1px;

    background: #ececec;
    padding: 0px 6px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border: 1px solid #bbbbbb;
    border-left: none;
    color: #989898;
  }
}
