.topbarDaySelectMain{
  width: 100%;

  >*{
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }

  .stepBtn{
    width: 60px;
    font-size: 22px;

    &:active{

    }
  }

  .dayDisplay{
    flex: 1 1 auto;
    border-left: 1px solid rgba(0, 0, 0, 0.078);
    border-right: 1px solid rgba(0, 0, 0, 0.078);

    .date{
      margin-right: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .week{
      color: rgba(255, 255, 255, 0.47);
      font-weight: 400;
    }

  }
}
